extends ../layout

block vars
  - var mailTitle = 'Crowmie | Cambiar contrase&ntilde;a'

block content
  - const resetUrl = token
  h1.mail-heading Cambio de contrase&ntilde;a
  p.mail-text
    | Has solicitado un cambio de contrase&ntilde;a de tu cuenta personal en Crowmie. No te preocupes, el proceso es muy sencillo.
  p.mail-text
    | Para actualizar tu contrase&ntilde;a, haz clic en el siguiente bot&oacute;n:
  .mail-button
    a.mail-btn(href=resetUrl target='_blank' rel='noopener noreferrer') Cambiar Contrase&ntilde;a
  p.mail-text
    | Al acceder, podr&aacute;s introducir tu nueva contrase&ntilde;a y guardarla al momento. &iexcl;Como si no hubiera pasado nada!
  p.mail-text &iquest;No has sido t&uacute;?
  p.mail-text
    | Si no recuerdas haber solicitado este cambio o crees que se ha hecho por error, te recomendamos no usar el enlace y ponerte en contacto con nosotros cuanto antes.
