.mail-footer
  .mail-social-table
    a(href='https://twitter.com/crowmie_es' target='_blank' rel='noopener noreferrer')
      img.mail-social(src='https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-dark-gray/twitter@2x.png' alt='Twitter')
    a(href='https://instagram.com/crowmie' target='_blank' rel='noopener noreferrer')
      img.mail-social(src='https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-dark-gray/instagram@2x.png' alt='Instagram')
    a(href='https://es.linkedin.com/company/crowmie' target='_blank' rel='noopener noreferrer')
      img.mail-social(src='https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-dark-gray/linkedin@2x.png' alt='LinkedIn')
    a(href='https://api.whatsapp.com/send/?phone=34698949268&text=Hola+Crowmie%21+Querr%C3%ADa+m%C3%A1s+informaci%C3%B3n.&type=phone_number&app_absent=0' target='_blank' rel='noopener noreferrer')
      img.mail-social(src='https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-dark-gray/whatsapp@2x.png' alt='WhatsApp')
  a.mail-footer-logo(href='https://app.crowmie.com/login' target='_blank' rel='noopener noreferrer')
    img(src='https://crowmie.com/wp-content/uploads/2024/04/logo-crowmie-oscuro.png' alt='Accede a Crowmie' width='120' style='max-width: 120px; width: 100%; height: auto;')
  .contact
    p Contáctanos a:
    p
      a(href='mailto:info@crowmie.com') info@crowmie.com
    p
      a(href='tel:+34698949268') +34 698 94 92 68
    p
      a(href='https://crowmie.com/' target='_blank' rel='noopener noreferrer') crowmie.com
    p
      | Si tienes alguna duda, contacta con nosotros desde aquí:
      a(href='https://crowmie.com/contacto/' target='_blank' rel='noopener noreferrer')  https://crowmie.com/contacto/
