.mail-logo
  a(href='https://crowmie.com/' target='_blank' rel='noopener noreferrer')
    img(src='https://crowmie.com/wp-content/uploads/2024/04/logo-crowmie-oscuro.png' alt='Crowmie' width='210' style='max-width: 210px; width: 100%; height: auto')
